{% extends 'base.html.twig' %}

{% block title %}Fight
{% endblock %}

{% block body %}
	<main class="container-fluid">
		<h1>Arena name</h1>
		<a class="btn btn-danger position-absolute top-0 end-0 m-3" href="{{ path('reset') }}">Reset</a>
		<a class="btn btn-secondary" href="play/fight">Fight</a>

		{% for player in playerSwitcher.players %}
			<div class="d-flex justify-content-between m-3 p-3 {{ playerSwitcher.currentPlayer == player ? 'currentPlayer' : 'otherPlayer' }}">
				<div class="d-flex gap-2">
					{% for card in player.cards %}
						{% include 'fight/_card.html.twig' %}
					{% endfor %}
				</div>
				<div class="d-flex">
					{% for action in player.actions %}
						{% include 'fight/_action.html.twig' %}

					{% endfor %}

				</div>
			</div>

		{% endfor %}
	</main>
{% endblock %}
